.MissionControl {
    background-color: rgb(46, 46, 51);
    margin: 3rem auto;
    width: 40rem;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    align-content: center;

    font-family: monospace;
    color: white;
}

.MissionControl h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0px;
}

.CreateLaunchPage {
    padding: 1rem 1rem;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.CreateLaunchPage h2 {
    margin-top: 0px;
}

.SubmitButton {
    margin-top: 0.8rem;
    padding: 0.3rem 0.8rem;

    font-family: monospace;
    font-weight: bold;
    font-size: 0.9rem;
}

label {
    font-size: 0.9rem;
}

.LaunchList {
    padding: 0.5rem 0.5rem;
}

.SingleLaunch {
    border-width: 1px;
    border-color: white;
    border-style: solid;

    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    
    font-size: 0.9rem;
}

.DropdownOptions {
    font-family: monospace;

}

.CountdownTarget {
    color: red;
}